{% extends 'base.html' %}

{% block titel %} about {% endblock %}

{% block css %} this is block css {% endblock %}

{% block body %} 

<h1>MyBooks.com</h1>
<br>
<li> MyBooks.com is an Indian e-commerce company, headquartered in Bangalore, Karnataka, India, and incorporated in Singapore as a private limited company.[7] The company initially focused on online book sales before expanding into other product categories such as consumer electronics, fashion, home essentials, groceries, and lifestyle products.</li>
<li> The service competes primarily with Amazon's Indian subsidiary and domestic rival Snapdeal.[8][9] As of March 2017, Flipkart held a 39.5% market share of India's e-commerce industry.[10] Flipkart has a dominant position in the apparel segment, bolstered by its acquisition of Myntra, and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.[11] Flipkart also owns PhonePe, a mobile payments service based on the Unified Payments Interface.</li>
<li> In August 2018, U.S.-based retail chain Walmart acquired an 77% controlling stake in Flipkart for US$16 billion, valuing Flipkart at around $20 billion.[12]</li>


 {% endblock %}